.main-div {
    padding: 20px;
}

.app-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
}

/* .sidebar-container {
    flex-grow: 1;
} */

.main-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
} 

.navbar {
    background-color: #e0e0e0;
    height: 80px;
    /* display: flex; */
    justify-content: start;
    align-items: center;
    flex: 0 0 auto;
}

.nav-menu.active {
    /* background-color: blue; */
    flex-grow: 1;
    left: 0;
    transition: 350ms;
    flex-grow: 1;
    /* flex-direction: column; */

}

.nav-menu {
    background-color: #e0e0e0;
    width: 12.5%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 5;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    padding-right: 85%;
  }


.nav-menu-contents {
    /* width: 25%; */
    /* margin: auto; */
    text-align: center;
}

.login-title {
    margin: 20px;
}

.login-container {
    text-align: left;
    padding: 12%;
}

.login-container form {
    margin-right: 25%;
}

.nav-link {
    display: block;
    padding: 10px 10px;
    /* background-color: #000000; */
    border-radius: 10px; /* round corners */
    color: #ffffff;
}

.nav-link:hover {
    background-color: #a4bdbd; /* Change background color on hover */
}

.disabled {
    pointer-events: none; /* Disable pointer events */
    cursor: not-allowed; /* Change cursor style to not-allowed */
    opacity: 0.6; /* Reduce opacity to indicate disabled state */
}